<<<<<<< HEAD
@media screen and (max-width: 768px) {
    .hero-section {
      display: block;
      box-shadow: unset;
    }
    .hero-content {
      background: #fff;
      color: #000;
      padding: 20px;
    }
    .hero-content::after {
      content: unset;
    }
    .hero-content  {
      display: none;
    }
    .btn-signup{
        display: block;
    }
    .hero-headline {
      font-size: 1.5rem;
      /* font-size: 4.5rem; */
      white-space: normal;
    }
    .hero-text {
      width: unset;
      /* font-size: 1.5rem; */
      font-size: 1rem;
      margin-top: 27px;
    }
    .hero-img img {
      border-radius: 10px;
      margin-top: 20px;
    }
    .hero-section > .btn-signup {
      display: block;
      margin: 32px auto 10px;
      padding: 12px 35px;
    }
    .copyrights {
      margin-top: 210px;
      text-align: center;
    }
    footer{
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: -210px;
    }
  }

 
=======
@media (min-width: 800px){
.topnav{
display: none;
}
.bground{

}
}
>>>>>>> 1bc460d442ae0ce34d698d6f2460ed01be04c4a7
